@keyframes carousel {
    from {
        left: 0;
    }
    to {
        left: 2000px;
    }
}

.hoverAbove {
    transform: translateY(0);
    transition: transform 0.15s ease-out;
}

.hoverAbove:hover {
    transform: translateY(-4px);
}