@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: rgb(32 34 39);
  --off-grey: rgb(39, 41, 52);
  --grey-bg: #191B1F;
  --light-grey: #dcdcdc;
  --grey-fade: #8080802a;
  --guilded-yellow: rgb(249 216 73);
}

html {
  scroll-behavior: smooth;
}

body {
	background-color: #191B1F;
}

h1, h2, h3, p, a {
    font-family: "Inter";
}


/* For Firefox Browser */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}


/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  width: 20px;
}

.scrollbar::-webkit-scrollbar-track { 
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb { 
  background:#000;
}
