@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #191B1F;
}

h1, h2, h3, p, a {
    font-family: "Inter";
}


/* For Firefox Browser */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}


/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  width: 20px;
}

.scrollbar::-webkit-scrollbar-track { 
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb { 
  background:#000;
}
